body{
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    color: #8e8e8e;
    font-weight: 300;
    font-size: 16px;
}

/*NAVBAR*/
.navbar{
    background-color: #fff;
    padding: 10px 40px;
    color: #8e8e8e;
}

.nav-item{
    padding: 0 10px;
    font-size: 14PX;
}

.nav-link, .navbar-brand {
    color: #8e8e8e;
}

.nav-link:hover{
    color: #fff;
    background-color: #474747;
}

/*HEADER*/
header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    background-color: #fff;
}

header h2{
    
    font-weight: 300;
}

.profileImgBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileTxt {
    margin-top: 25px;
}

.profileImg{
    width: 260px;
    border-radius: 50%;
    margin-bottom: 40px;
}

.headerRow{
    height: 300px;
}

.rowBtns{
    padding: 10px;
}

.coloredTxt{
    color: #474747;
    letter-spacing: 0.1em;
}

p .coloredTxt{
    font-weight: 500;
}

.coloredBtn{
    background-color: #474747;
    color: white;
    text-decoration: none;
    padding: 5px 30px;
    margin: 5px auto;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.coloredBtn:hover{
    color: white;
    box-shadow: 0px 4px 6px rgb(134 151 168 / 20%);
}

.fa-brands{
    color: #474747;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    margin: 5px; 
    border: 1px solid #eee;
    box-shadow: 0px 4px 6px rgb(134 151 168 / 10%);
}

.fa-brands:hover{
    box-shadow: 0px 4px 6px rgb(134 151 168 / 20%);
}

.iconsBtns{
    text-align: center;
}

/*MAIN*/
#about, #skills, #projects, #contact{
    padding-top: 50px;
    margin-bottom: 100px;
}

.sectionTitle {
    margin: 50px 0 80px 0;
    padding-top: 10px;
}

.content {
    padding: 50px;
    font-size: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*MAIN-SKILLS*/

.skill-box{
    width: 65px;
    height: 65px;
    text-align: center;
    margin: 20px;
}

.icon-img{
    width: 40px;
    height: 40px;
}

.skill-box p{
    padding-top: 5px;
    font-size: 14px;
}

/*MAIN-PROJECTS*/

.projects-content{
    padding: 50px;
    font-size: 20px;
    background-color: white;
}

.card{
    border-radius: 0;
    height: 330px;

}

.card:hover {
    box-shadow: 0px 4px 6px rgb(134 151 168 / 25%);
    cursor: pointer;
}

.card-img-top{
    object-fit: cover;
    height: 150px;
    border-radius: 0;
}

.card-title{
    color: #474747;
}

.card-text {
    font-size: 14px;
}

.card-skill {
    font-size: 12px;
    margin-bottom: 5px;
    color: #474747;
}

.cardBtn{
    border: 1px solid rgb(226, 226, 226);
    padding: 1px 8px;
    font-size: 14px;
    border-radius: 0;
    margin-right: 5px;
    margin-top: 0;
}

.cardBtn:hover {
    box-shadow: 0px 4px 6px rgb(134 151 168 / 20%);
    background-color: #474747;
    color: #fff;
}


.contact-content{
    padding: 50px;
    font-size: 20px;
    background-color: #fff;
    border-radius: 20px;
}

a.btn.cardBtn{
    margin-top: 0;
}

label{
    font-size: 14px;
}

.btn{
    margin-top: 20px;
}
/*FOOTER*/

footer{
    text-align: center;
    padding: 10px;
    margin-top: 100px;
}