body{
    font-family: 'Poppins', sans-serif;
}

.container{
    padding: 0 50px;
}

.container-fluid{
    padding: 0;
}

a{
    text-decoration: none;
}

a:visited{
    color: inherit;
}

h1{
    font-weight: 700;
    font-size: 56px;
    margin-bottom: 0;
}

h3{
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 40px;
    text-align: center;
}

h4{
    margin-bottom: 15px;
}

h6{
    font-weight: bold;
}


.btn{
    color: #fff;
    background-color: hsl(180, 66%, 49%);
    border: none;
    border-radius: 25px;
    margin-top: 0px;
    padding: 5px 25px;
    font-size: 16px;
}

.btn:hover{
    background-color: hsl(180, 68%, 44%);
}


/*NAVBAR*/
nav{
    background-color: #fff;
    margin-top: 0;
}


.nav-link{
    margin-left: 10px;
}

.nav-link:active{
    color: #474747;
}

.nav-item .btn{
    color: white;
    margin-left: 10px;
    margin-top: 2.5px;
}

.nav-languages{
    margin-left: 10px;
}

.nav-languages:active{
    text-decoration: underline;
}

.navbar-brand{
    font-size: 22px;
}


/*HEADER*/
header{
    display: flex;
    margin-bottom: 100px;
    padding-top: 200px;
}

.title-box{
    padding-left: 80px;
    padding-top: 230px;
}

.title-box p{
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 0;
}

.header-img{
    width: 600px;
    margin-left: -30px;
    margin-top: 60px;
}

.header-square{
    position: absolute;
    z-index: 2;
    margin-left: 100px;
    background-color: hsla(180, 66%, 49%, 0.781);
    border-radius: 100%;
    width: 300px;
    height: 300PX;
}

.colored-txt{
    color: hsla(180, 66%, 49%, 0.781);
}

.fa-brands{
    color: #474747;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    margin-left: 10px;
    border: 1px solid #eee;
    box-shadow: 0px 4px 6px rgb(134 151 168 / 10%);
}

.fa-brands:hover{
    box-shadow: 0px 4px 6px rgb(134 151 168 / 20%);
}


/*ABOUT*/
#about{
    background-color: hsl(0, 0%, 95%);
    padding-bottom: 150px;
    padding-top:70px;
    text-align: center;
}


.info-box p{
    border-radius: 10px;
    text-align: justify;
    color: #474747;
}


.info-box{
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgb(134 151 168 / 20%);
    background-color: #fff;
    margin: 0 180px;
    text-align: center;
}


#about img{
    border-radius: 100%;
    width: 150px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 6px rgb(134 151 168 / 20%);
}


/*SKILLS*/

#skills{
    text-align: center;
    padding: 90px;
}

#skills h5{
    color: #474747;
}

#skills .container{
    display: flex;
    margin-top: 30px;
}

.skill-content{
    box-shadow: 0px 4px 6px rgb(134 151 168 / 20%);
    width: 80px;
    padding: 5px;
    border-radius: 5px;
}

.skill-img-box img{
    width: 400px;
    transform: scaleX(-1);
}

.icon-img{
    width: 30px;
}

.bts{
    width: 40px;
}

.skill-box{
    background-color: #fff;
    margin-bottom: 80px;
    display: flex;
    gap: 30px;
    justify-content: start;
    flex-wrap: wrap;
    padding: 30px;
}

.skill-content p{
    font-size: 12px;
    margin-bottom: 0;
    padding: 0;
}

/*PROJECTS*/
#projects{
    background-color: hsl(0, 0%, 95%);
    padding: 90px 0;

}


.card{
    box-shadow: 0px 4px 6px rgb(134 151 168 / 20%);
    border-radius: 0;
    height: 350px;
    width: 300px;
}


.card:hover {
    box-shadow: 0px 6px 8px rgb(134 151 168 / 45%);
    cursor: pointer;
}

.card-img-top{
    object-fit: content;
    height: 150px;
    border-radius: 0;
}

.card-title{
    color: #474747;
}

.card-text {
    font-size: 14px;
}

.card-skill {
    font-size: 12px;
    margin-bottom: 5px;
    color: hsl(180, 68%, 44%);
}

.cardBtn{
    border: 1px solid rgb(226, 226, 226);
    color: #474747;
    background-color: #fff;
    padding: 1px 8px;
    font-size: 14px;
    border-radius: 0;
    margin-right: 5px;
}

.cardBtn:hover {
    box-shadow: 0px 4px 6px rgb(134 151 168 / 20%);
    background-color: #474747;
    color: #fff;
}


/*CONTACT*/
#contact{
    background-color: hsl(257, 27%, 26%);
    padding: 100px 0 60px;
    color: #fff;
    text-align: center;
}

.fa-envelope{
    margin-right: 5px;
}

form{
    margin: 5px 180px;
    font-weight:lighter;
    font-weight: 200;
}

input {
    margin-bottom: 10px;
}
.submit-btn{
    margin-top: 20px;
}


/*CAROUSEL*/
#carousel{
    background-color: hsl(0, 0%, 95%);
}

@media (min-width: 768px) {
    .carousel-inner {
      display: flex;
    }
    .carousel-item {
      margin-right: 0;
      flex: 0 0 33.333333%;
      display: block;
    }
  }

  .carousel-inner{
    padding: 1em;
}
.card{
    margin: 0 .5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
}
.carousel-control-prev, .carousel-control-next{
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}



/*FOOTER*/
footer{
    background-color: hsl(260, 8%, 14%);
    color: #fff;
    font-size: 14px;
    padding: 20px 0;
}


.social-icons{
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding-bottom: 10px;
}


.contact-icon i{
    background-color: inherit;
    color: #fff;
    border: none;
    box-shadow: none;
    margin: 0;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    background-color: hsl(260, 8%, 14%);
    color: hsl(0, 0%, 75%);
}

.attribution a{
    color: hsl(228, 45%, 44%);
}


/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) { 
    
    .navbar{
        margin: 0;
        padding: 0;
    }
    
    .input{
        width: 100%;
        margin-bottom: 10px;
    }

    .image-box{
        padding-right: 20px;
    }

    .short-btn {
        width: 100%;
    }

    .shorten-bar{
        padding: 20px;
    }

    #nav-btn{
        width: 100%;
        text-align: center;
        margin-left: 0;
        margin-top: 10px;
    }

    .navbar-collapse{
        text-align: center;
        padding: 30px;
        border-radius: 10px;
        margin-top: 10px;
    }

    .navbar-toggler {
        border: none;
    }

   .container{
       margin: 0;
       padding: 10px 30px;
   }

   .info-row{
    flex-wrap: wrap;
   }

   .title{
       text-align: center;
   } 

   .container-fluid{
       margin: 0;
       padding:0;
   }

   header{
       flex-wrap: wrap;
       text-align: center;
       display: flex; 
       flex-direction: column-reverse;
       
   }

   .title-box{
        padding: 30px;
        box-sizing: border-box;
        overflow: auto;
   }

   .title-box h1{
       box-sizing: border-box;
   }

   h1{
       font-size: 40px;
   }

   .header-img{
       width: 120%;
        height: 350px;
        margin-left: 30px;
        margin-top: 20px;
        margin-bottom: 10px;
   }
   
   h3{
       font-size: 30px;
   }

   footer li , footer p{
       text-align: center;
   }

}

@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}


